.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--very-dark-desaturated-blue);
  height: 2.5rem;
  padding: 1.5rem;
  border-radius: 5px;
}
