@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue: hsl(236, 33%, 92%); /* (hover) */
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

body {
  background-color: var(--very-dark-blue);
  font-family: "Josefin Sans", sans-serif;
}

.top-container {
  max-width: 40rem;
  margin: auto;
  padding: 2.5rem 1rem 1rem;
}

.background {
  background-image: url("/images/bg-mobile-dark.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 14rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  .background {
    background-image: url("/images/bg-desktop-dark.jpg");
  }
}

.checkedCircle > *,
.checkedCircle:hover > * {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%))
    border-box;
  border: 2px solid transparent;
  position: relative;
}

.checkedCircle > *::after {
  color: white;
  content: "✓";
  position: absolute;
  display: flex;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.btnActive {
  color: var(--bright-blue);
}
